<body>
    <h1>articles info goes below<h1>

            <form action = "/articles" method= "post">

                <label for = "article_name" id= "testme">article title:</label>
                <input type = "text" id="article_name" name="article_name"

                <label for = "article_description" id = "leslie">article description:</label>
                <input type = "text" id="article_description" name="article_description"


                <label for = "article_submit">submit</label>
                <input type = "submit" id="article_submit" name="article_submit">

            </form>
        </body>
