<h1>click link to make new article!</h1>

<ul>
  <% @articles.each do |article| %>

      <p><%="#{article[0]} #{article[1]}"%></p><br>

  <% end %>
</ul>

<a href ="/articles/new">make new article</a>
