<h1>infobel<h1>

    <ul>
    <% @information.each do |line| %>
        <li><%="#{information}"%></li>
    <% end %>
    </ul>

    <form action = "/information" method= "post">

    <label for = "info_name" id= "testme">titl:</label>
    <input type = "text" id="info_name" name ="info_name"></input>



    <label for = "info_description" id = "leslie">descrip:</label>
    <input type = "text" id="info_description" name="info_description"></input>


    <input type = "submit" id="button" name="add">

    </form>
